
<div class=container>
  <h1>Product Test Page</h1>
  <br>
    <h2><b>Products:</b></h2>
      <hr>
    <ul>
      <br>
      {{#each model.products.data as |product| }}
      <!-- var randomName = faker.name.findName() -->
      <li><b>Name:</b> {{product.attributes.name}}</li>
      <li><b>Image:</b>{{product.attributes.image}}</li>
      <li><b>Barcode</b>{{product.attributes.barcode}}</li>
      <li><b>Price:</b> {{product.attributes.price}}</li>
      <br>
      {{/each}}
    </ul>
</div>
{{outlet}}
