<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      {{side-bar}}
    </div>
    <!--side-nav ends  -->
      <div class="container">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-6 main">

      <div class="product-card__image-container">
          {{#if (eq product.image null)}}
              <span class="glyphicon glyphicon-picture product-card__image-container--no-image" aria-hidden="true"></span>
          {{else}}
              <img src={{product.image}}>
          {{/if}}
      </div>
      <div class="product-card__product-info-container">
          {{product.name}}<br />
          Price:{{product.price}}<br />
          {{#if product.barcode}}
              UPC: {{product.barcode}}
          {{/if}}
      </div>
    </div>
  </div>
</div>
</div>
<!--
<div class="product-card__image-container">
    {{#if (eq product.productImage null)}}
        <span class="glyphicon glyphicon-picture product-card__image-container--no-image" aria-hidden="true"></span>
    {{else}}
        <img src={{product.productImage}}>
    {{/if}}
</div>
<div class="product-card__product-info-container">
    {{product.name}}<br />
    Price: {{format-money product.price}}<br />
    {{#if product.barcode}}
        UPC: {{product.barcode}}
    {{/if}}
</div> -->







<!--
<div class="product-card__image-container">
  <button onclick="myFunction()">Click me</button>
    {{#if (eq product.attributes.image null)}}
        <span class="glyphicon glyphicon-picture product-card__image-container--no-image" aria-hidden="true"></span>
    {{else}}
        <img src={{product.image}}>
    {{/if}}
</div>
<div class="product-card__product-info-container">
    {{product.attributes.name}}<br />
    Price: {{product.attributes.price}}<br />
    {{#if product.attributes.barcode}}
        UPC: {{product.attributes.barcode}}
    {{/if}}
</div> -->
