<ul class="nav nav-sidebar">
  <li class="active"><a href="#">Components <span class="sr-only">(current)</span></a></li>
  <br />
  <li>{{link-to "Product-Card" 'product-card' class='a'}}</li>
  <!-- <li>{{link-to "Modal-Window" 'index' class='a'}}</li>
  <li>{{link-to "Validated-Input" 'index' class='a'}}</li>
  <li>{{link-to "Modal-Input" 'index' class='a'}}</li> -->
</ul>
<ul class="nav nav-sidebar">
  <!-- <li>{{link-to "Confirmation-Modal" 'index' class='a'}}</li>
  <li>{{link-to "Product-Bar" 'index' class='a'}}</li>
  <li>{{link-to "Pagination-Link" 'index' class='a'}}</li>
  <li>{{link-to "System-Alert" 'index' class='a'}}</li>
  <li>{{link-to "Loading-Feedback" 'index' class='a'}}</li> -->
</ul>
<ul class="nav nav-sidebar">
  <li><a href="">More-Items to come</a></li>
  <!-- <li><a href="">One more nav</a></li>
  <li><a href="">Another nav item</a></li> -->
</ul>
