<div class="nav nav-sidebar">
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <li><a class="active"data-toggle="collapse" data-parent="#accordion" href="#collapse1">
            <b>Modals</b>
            <span class="sr-only">(current)</span></a></li>
          </h4>
        </div>

        <div id="collapse1" class="panel-collapse collapse ">
          <ul class="list-group">
            <li class="list-group-item">{{link-to "form-window" 'product-card-doc' class='a'}}</li>
            <li class="list-group-item">{{link-to "crud-modal" 'product-card-doc' class='a'}}</li>
            <li class="list-group-item">{{link-to "notification-modal" 'product-card-doc' class='a'}}</li>
          </ul>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <li><a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
              <b>Form Elements</b><span class="sr-only">(current)</span></a></li>
            </h4>
          </div>
          <div id="collapse2" class="panel-collapse collapse ">
            <ul class="list-group">
              <li class="list-group-item">{{link-to "validated-input" 'product-card-doc' class='a'}}</li>
              <li class="list-group-item">{{link-to "form-input" 'product-card-doc' class='a'}}</li>
            </ul>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <li><a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                  <b>Notifications, Progress Updates and Alerts</b><span class="sr-only">(current)</span></a></li>
                </h4>
              </div>
              <div id="collapse3" class="panel-collapse collapse ">
                <ul class="list-group">
                  <li class="list-group-item">{{link-to "system-alert" 'product-card-doc' class='a'}}</li>
                  <li class="list-group-item">{{link-to "loading-feedback" 'product-card-doc' class='a'}}</li>
                </ul>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <li><a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                      <b>Pagination</b><span class="sr-only">(current)</span></a></li>
                    </h4>
                  </div>
                  <div id="collapse4" class="panel-collapse collapse">
                    <ul class="list-group">
                      <li class="list-group-item">{{link-to "pagination-bar" 'product-card-doc' class='a'}}</li>
                    </ul>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <li><a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                          <b>Misc</b><span class="sr-only">(current)</span></a></li>
                        </h4>
                      </div>
                      <div id="collapse5" class="panel-collapse collapse">
                        <ul class="list-group">
                          <li class="list-group-item">{{link-to "Product-Card" 'product-card-doc' class='a'}}</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
